// Build file that enables all features/viewports
@use "cirrus-ext" with (
    $config: (
        viewports: (
            CLEARFIX: true,
            DISPLAY: true,
            FLEX: true,
            FLOAT: true,
            OVERFLOW: true,
            POSITION: true,
            TEXT: true,
            MARGIN-PADDING: true,
            OPACITY: true,
            BACKGROUND-OPACITY: true,
            COLOR-OPACITY: true,
            BORDER-OPACITY: true,
            WIDTHS: true,
            HEIGHTS: true,
            ZINDEX: true,
            ABSOLUTES: true,
            GAP: true,
            MIN-HEIGHT: true,
            MAX-HEIGHT: true,
            MIN-WIDTH: true,
            MAX-WIDTH: true,
            GRID: true,
            ROUND: true,
            SHADOWS: true,
            LETTER-SPACING: true,
            BLUR: true,
            TRANSITION-DURATION: true,
            LINE-HEIGHT: true,
            BORDER-WIDTH: true,
            VERTICAL-ALIGN: true,
        ),
        extend: (
            colors: (
                extended: (
                    'magenta': (
                        '100': #FEF7F4,
                        '200': #FBE0DD,
                        '300': #F2AFB3,
                        '400': #EC798B,
                        '500': #DC5472,
                        '600': #BC3263,
                        '700': #98184D,
                        '800': #73123F,
                        '900': #560E39,
                    )
                )
            )
        )
    ),
);

@forward "cirrus-ext";
